*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  margin-top: 60px;
}

.bg-dark {
  background-color: #1b1d1e !important;
}
.fixed-top{
  box-shadow: 0 2px 3px rgba(#000, 0.2);
}

.container-fluid {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn-fb {
  background: #3b5998;
  color: #fff;
  &:hover {
    color: #fff;
    opacity: 0.9;
  }
}

.fa-lg {
  font-size: 1.33333em;
  line-height: .75em;
  vertical-align: -15%;
}

