form {
  label {
    width: 100%;
  }

  .btn {
    font-size: 0.9rem;
    .loader {
      display: inline-block;
      font-size: 0.9rem;
      margin: 0;
      width: 1.5em;
      height: 1.5em;
      margin-right: 10px;
      &:after {
        background: #42a692;
      }
    }
  }
}
